<!doctype html>
<html>
<head>
  <style>
    td {
      text-align: left;
    }
  </style>
  <title>Ratings</title>
</head>

<body>
  Ratings

  <ul>
    {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>

  <div>
    {% if session.get('userid') %}
      <a href="/logout">Logout</a>
    {% else %}
      <a href="/login">Login</a>
    {% endif %}
  </div>

<!--   <button id="login_logout"></button> -->

  <hr>

<!--   <script>

      if (session.get('userid')) {
        $('login_logout').innerHTML("Log Out")
        $('login_logout').on("submit", function () {location.href="/logout"})
      }
      else {
        $('login_logout').innerHTML("Log In")
        $('login_logout').on("submit", function () {location.href="/login"})
      }

  </script> -->

  {% block content %} put your content here {% endblock %}

</body>
</html>